<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>MyReads</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light"  style="padding-bottom: 20px">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">MyReads</a>  
          </div>
        </nav>

    <section class="content">
        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img th:src="${coverImage}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title display-1" th:text="${book.bookName}">Book name</h5>
                  <p class="card-text display-5" th:text="${book.authorsNames}">Authors names</p>
                  <p class="card-text" th:text="${book.bookDescription}">Book description</p>
                  <p class="card-text">Published Date: <small class="text-muted" th:text="${book.publishedDate}"></small></p>

                  <form th:if="${loginId}" th:attr="action=@{/addBookTrack}" method="POST">
                    <input type="hidden"
                      name="${_csrf.parameterName}"                       
                      value="${_csrf.token}"
                    >
                    <input type="hidden"
                      th:value="${book.bookId}"
                    >
                    <div class="form-group">
                      <label for="startDate">Start Date</label>
                      <input type="date" class="form-control" id="startDate" name="startDate">
                    </div>
                    <div class="form-group">
                      <label for="completeDate">Complete Date</label>
                      <input type="date" class="form-control" id="completeDate" name="completeDate">
                    </div>
                    <div class="form-group">
                      <label for="status">Status</label>
                      <select class="form-select" name="status" aria-label="Reading status">
                        <option selected value="0">Status</option>
                        <option value="reading">Currently Reading</option>
                        <option value="finished">Finished</option>
                        <option value="didNotFinished">Not Finished</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="rating">Rating</label>
                      
                    <select class="form-select" name="rating">
                      <option selected>Rating</option>
                      <option value="1">&#9733;</option>
                      <option value="2">&#9733;&#9733;</option>
                      <option value="3">&#9733;&#9733;&#9733;</option>
                      <option value="4">&#9733;&#9733;&#9733;&#9733;</option>
                      <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
                    </select>
                    </div>                                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>

                </div>
              </div>
            </div>
          </div>    
    </section>
    </div>
</body>
</html>